<section id="buttons">
    <a href="/api/index"><button>Home</button></a>
    <a href="/api/toWatch"><button>Watchlist</button></a>
    <a href="/api/finished"><button>Watched</button></a>
  
    <a href="/logout"><button>Logout</button></a>
</section>