h1{
    color: red;
}
.watched{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: none;
} 

* {
    color: white;
    font-family: 'Roboto', sans-serif;
  
}

body {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    

}

header {
    height: 100px;
}

ul  {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    
    padding: 25px;
}

a {
    text-decoration: none;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section p {
    font-size: 22px;
}
section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input[type=text] {
    margin-bottom: 15px;
    color: black;
    width: 50%;
    font-size: 28px;
    
}

input[type=submit] {
    color: black;
    width: 25%;
    font-size: 18px;
    border-radius: 10px;
}

input[type=submit]:hover {
    background-color: rgb(226, 237, 204);
  }
#buttons {
    display: flex;
    flex-direction: row;
}
  button {
    display: inline;
    width: 75px;
    color: black;
  }